.rdt_TableCol //Celdas de los encabezados
  font-size: medium
  background-color: $myYellow
  color: $myDark
  font-weight: 650

.rdt_TableCell //Celdas de las filas
  font-size: medium
  font-weight: 650
  

.rdt_Table

.rdt_TableHead
  background-color: $myYellow

.rdt_TableHeader
  background-color: $myYellow
// .rdt_TableRow
//   margin-top: 2em
// .rdt_TableCell
//   margin-top: 2em
// .rdt_TableHeader
//   margin-top: 2em
// .rdt_TableFooter
//   margin-top: 2em
// .rdt_TableHead
//   margin-top: 2em
// .rdt_TableHeadRow
//   margin-top: 2em
// .rdt_TableBody
//   margin-top: 2em
// .rdt_ExpanderRow
//   margin-top: 2em